body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
:root {
  --main-title-color: #ffffff;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --main-logo-button-color: #2196f3;
  --main-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
}
/* ------------reset start------------ */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.img {
  display: block;
}

/* ------------reset end------------ */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;

  outline: 2px solid red;
  outline-offset: -2px;
}

/* -------------Header--------------- */
.header-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}
.nav {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header-nav {
  margin-right: auto;
}
.header-group > .header-contacts {
  display: flex;
  align-items: center;
  gap: 50px;
}
.logo-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-logo-button-color);
  margin-right: 93px;
}
.logo-span {
  color: var(--main-text-color);
}
.nav-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: var(--main-text-color);
  display: block;
  padding-top: 29px;
  padding-bottom: 29px;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--main-logo-button-color);
}
.nav-link-active {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: var(--main-logo-button-color);
  display: block;
  padding-top: 29px;
  padding-bottom: 29px;
}
.header-email {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.header-email:hover,
.header-email:focus {
  color: var(--main-logo-button-color);
}
.header-tel {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--main-logo-button-color);
}
/* -------------Header end-------------------- */

/* -------------Index-Main--------------- */

/* Hero */
.section-hero {
  background-color: var(--main-background-color);
}
.hero-div {
  min-height: 600px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
  width: 696px;
  padding-top: 200px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  background-color: var(--main-logo-button-color);
  font-family: inherit;
  cursor: pointer;
  border: 0;
  display: block;
  margin: auto;
}
/* Hero */

/* Benefits */
.benefits-container {
  width: 1200px;
}
.benefits-list {
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
}
.benefits-item:not(:last-child) {
  margin-right: 30px;
}
.benefits-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-text-color);
}
.benefits-paragraph {
  line-height: 1.71;
  color: var(--secondary-text-color);
  text-align: left;
}
/* Benefits */

/* Work */
.work-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 52px;
}
.work-list {
  display: flex;
  padding-left: 0;
}
.work-item:not(:last-child) {
margin-right: 30px;
}
/* Work */

/* Team */
.team {
  background-color: var(--secondary-background-color);
}
.team-container-list {
  display: flex;
}
.team-list {
  display: flex;
  padding-left: 0;
}
.team-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 50px;
}
.team-item {
  background-color: var(--main-title-color);
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-item-img {
  margin-bottom: 30px;
}
.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--main-text-color);
    margin-bottom: 8px;
}
.team-item-p {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 26px;
}
/* Team */

/* -------------Index-Main end--------------- */

/* -------------Portfolio---------------- */
.visually-hidden {
  visibility: hidden;
  width: 0px;
  height: 0px;
}
.portfolio-btn-item {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: 0;
  color: var(--main-text-color);
}
.portfolio-btn-item:hover,
.portfolio-btn-item:focus {
  color: var(--main-title-color);
  background-color: var(--main-logo-button-color);
}
.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}
.portfolio-paragraph {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}
/* -------------Portfolio end--------------- */

/* -------------Footer--------------- */
.logo-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-logo-button-color);
  display: block;
  padding-top: 60px;
  margin-bottom: 20px;
}
.logo-span-footer {
  color: var(--main-title-color);
}
.footer {
  background-color: var(--main-background-color);
}
.footer-list {
  padding-left: 0;
  padding-bottom: 60px;
}
.footer-list-adress {
  line-height: 1.71;
  color: var(--main-title-color);
  font-style: normal;
}
.footer-list-adress:hover,
.footer-list-adress:focus {
  color: var(--main-logo-button-color);
}
.footer-list-cont {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}
.footer-list-cont:hover,
.footer-list-cont:focus {
  color: var(--main-logo-button-color);
}
/* -------------Footer end--------------- */
